-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "app_admin";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "app_auth";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "app_clients";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "app_users";

-- CreateEnum
CREATE TYPE "app_users"."UserRole" AS ENUM ('user', 'admin', 'moderator');

-- CreateEnum
CREATE TYPE "app_users"."UserStatus" AS ENUM ('active', 'suspended', 'pending_verification', 'deleted');

-- CreateEnum
CREATE TYPE "app_users"."Gender" AS ENUM ('male', 'female', 'other', 'prefer_not_to_say');

-- CreateEnum
CREATE TYPE "app_admin"."PlanTier" AS ENUM ('free', 'essential', 'professional', 'enterprise');

-- CreateEnum
CREATE TYPE "app_admin"."SubscriptionStatus" AS ENUM ('trialing', 'active', 'past_due', 'cancelled', 'expired');

-- CreateEnum
CREATE TYPE "app_admin"."SettingCategory" AS ENUM ('general', 'features', 'branding', 'notifications', 'limits');

-- CreateEnum
CREATE TYPE "app_admin"."AuditAction" AS ENUM ('USER_ROLE_CHANGE', 'USER_STATUS_CHANGE', 'SUBSCRIPTION_ASSIGN', 'SUBSCRIPTION_CANCEL', 'SUBSCRIPTION_EXTEND', 'PLAN_CREATE', 'PLAN_UPDATE', 'PLAN_DELETE', 'SETTING_UPDATE', 'ANNOUNCEMENT_CREATE', 'ANNOUNCEMENT_UPDATE', 'ANNOUNCEMENT_DELETE', 'CONTENT_CREATE', 'CONTENT_UPDATE', 'CONTENT_DELETE', 'SUPPORT_ASSIGN', 'SUPPORT_RESOLVE', 'SUPPORT_CLOSE');

-- CreateEnum
CREATE TYPE "app_admin"."AnnouncementType" AS ENUM ('info', 'warning', 'maintenance', 'feature');

-- CreateEnum
CREATE TYPE "app_admin"."TargetAudience" AS ENUM ('all', 'free', 'essential', 'professional', 'enterprise');

-- CreateEnum
CREATE TYPE "app_admin"."ContentType" AS ENUM ('remedy', 'yoga', 'dosha', 'chart_description');

-- CreateEnum
CREATE TYPE "app_admin"."TicketCategory" AS ENUM ('billing', 'technical', 'feature_request', 'bug', 'general');

-- CreateEnum
CREATE TYPE "app_admin"."TicketStatus" AS ENUM ('open', 'in_progress', 'resolved', 'closed');

-- CreateEnum
CREATE TYPE "app_admin"."TicketPriority" AS ENUM ('low', 'medium', 'high', 'critical');

-- CreateEnum
CREATE TYPE "app_clients"."Gender" AS ENUM ('male', 'female', 'other', 'prefer_not_to_say');

-- CreateEnum
CREATE TYPE "app_clients"."MaritalStatus" AS ENUM ('single', 'married', 'divorced', 'widowed');

-- CreateEnum
CREATE TYPE "app_clients"."ClientSource" AS ENUM ('manual', 'website', 'import', 'ocr');

-- CreateEnum
CREATE TYPE "app_clients"."BirthTimeAccuracy" AS ENUM ('exact', 'approximate', 'rectified', 'unknown');

-- CreateEnum
CREATE TYPE "app_clients"."ChartGenerationStatus" AS ENUM ('pending', 'processing', 'completed', 'failed');

-- CreateTable
CREATE TABLE "app_users"."users" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "password_hash" VARCHAR(255),
    "name" VARCHAR(100) NOT NULL,
    "display_name" VARCHAR(50),
    "avatar_url" VARCHAR(500),
    "cover_url" VARCHAR(500),
    "bio" TEXT,
    "location" VARCHAR(100),
    "website" VARCHAR(255),
    "phone" VARCHAR(20),
    "birth_date" DATE,
    "gender" "app_users"."Gender",
    "role" "app_users"."UserRole" NOT NULL DEFAULT 'user',
    "status" "app_users"."UserStatus" NOT NULL DEFAULT 'pending_verification',
    "is_verified" BOOLEAN NOT NULL DEFAULT false,
    "is_public" BOOLEAN NOT NULL DEFAULT true,
    "social_links" JSONB DEFAULT '{}',
    "metadata" JSONB DEFAULT '{}',
    "followers_count" INTEGER NOT NULL DEFAULT 0,
    "following_count" INTEGER NOT NULL DEFAULT 0,
    "last_active_at" TIMESTAMP(3),
    "email_verified" BOOLEAN NOT NULL DEFAULT false,
    "email_verified_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "deleted_at" TIMESTAMP(3),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_users"."user_activity_logs" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_activity_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_clients"."clients" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "client_code" VARCHAR(20) NOT NULL,
    "full_name" VARCHAR(200) NOT NULL,
    "phone_primary" VARCHAR(20),
    "phone_secondary" VARCHAR(20),
    "email" VARCHAR(255),
    "photo_url" VARCHAR(500),
    "birth_date" DATE,
    "birth_time" TIME(6),
    "birth_place" VARCHAR(300),
    "birth_latitude" DECIMAL(10,7),
    "birth_longitude" DECIMAL(10,7),
    "birth_timezone" VARCHAR(50),
    "birth_time_known" BOOLEAN NOT NULL DEFAULT true,
    "birth_time_accuracy" "app_clients"."BirthTimeAccuracy" NOT NULL DEFAULT 'exact',
    "gender" "app_clients"."Gender",
    "marital_status" "app_clients"."MaritalStatus",
    "occupation" VARCHAR(200),
    "business_details" TEXT,
    "current_situation" TEXT,
    "special_considerations" TEXT,
    "address_line1" VARCHAR(300),
    "address_line2" VARCHAR(300),
    "city" VARCHAR(100),
    "state" VARCHAR(100),
    "postal_code" VARCHAR(20),
    "country" VARCHAR(100),
    "tags" JSONB DEFAULT '[]',
    "metadata" JSONB DEFAULT '{}',
    "generation_status" "app_clients"."ChartGenerationStatus" NOT NULL DEFAULT 'pending',
    "charts_version" INTEGER NOT NULL DEFAULT 1,
    "source" "app_clients"."ClientSource" NOT NULL DEFAULT 'manual',
    "created_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3),
    "deleted_at" TIMESTAMP(3),

    CONSTRAINT "clients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_clients"."client_activity_logs" (
    "id" UUID NOT NULL,
    "client_id" UUID,
    "action" VARCHAR(100) NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "client_activity_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_clients"."client_saved_charts" (
    "id" UUID NOT NULL,
    "client_id" UUID NOT NULL,
    "chart_type" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "client_saved_charts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_clients"."client_yoga_doshas" (
    "id" UUID NOT NULL,
    "client_id" UUID NOT NULL,
    "category" TEXT NOT NULL,
    "type" VARCHAR(100) NOT NULL,

    CONSTRAINT "client_yoga_doshas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_auth"."auth_users" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,

    CONSTRAINT "auth_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_auth"."auth_sessions" (
    "id" TEXT NOT NULL,
    "userId" UUID NOT NULL,

    CONSTRAINT "auth_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_auth"."auth_email_verification_tokens" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,

    CONSTRAINT "auth_email_verification_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_auth"."auth_login_attempts" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,

    CONSTRAINT "auth_login_attempts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_admin"."subscription_plans" (
    "id" UUID NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "slug" VARCHAR(50) NOT NULL,
    "description" TEXT,
    "tier" "app_admin"."PlanTier" NOT NULL,
    "monthly_price" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "annual_price" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "trial_days" INTEGER NOT NULL DEFAULT 0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "sort_order" INTEGER NOT NULL DEFAULT 0,
    "max_clients" INTEGER NOT NULL DEFAULT 5,
    "max_charts_per_month" INTEGER NOT NULL DEFAULT 50,
    "max_reports_per_month" INTEGER NOT NULL DEFAULT 5,
    "allowed_ayanamsas" JSONB NOT NULL DEFAULT '["Lahiri"]',
    "allowed_chart_types" JSONB NOT NULL DEFAULT '["D1","D9"]',
    "allowed_dasha_systems" JSONB NOT NULL DEFAULT '["vimshottari"]',
    "has_kp_system" BOOLEAN NOT NULL DEFAULT false,
    "has_matchmaking" BOOLEAN NOT NULL DEFAULT false,
    "has_muhurta" BOOLEAN NOT NULL DEFAULT false,
    "has_numerology" BOOLEAN NOT NULL DEFAULT false,
    "has_report_export" BOOLEAN NOT NULL DEFAULT false,
    "has_pdf_export" BOOLEAN NOT NULL DEFAULT false,
    "has_email_delivery" BOOLEAN NOT NULL DEFAULT false,
    "has_api_access" BOOLEAN NOT NULL DEFAULT false,
    "has_priority_support" BOOLEAN NOT NULL DEFAULT false,
    "has_white_label" BOOLEAN NOT NULL DEFAULT false,
    "feature_flags" JSONB DEFAULT '{}',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "subscription_plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_admin"."platform_features" (
    "id" UUID NOT NULL,
    "feature_key" VARCHAR(100) NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "description" TEXT,
    "category" VARCHAR(50) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "platform_features_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_admin"."plan_features" (
    "plan_id" UUID NOT NULL,
    "feature_id" UUID NOT NULL,
    "value" JSONB DEFAULT 'true',

    CONSTRAINT "plan_features_pkey" PRIMARY KEY ("plan_id","feature_id")
);

-- CreateTable
CREATE TABLE "app_admin"."user_subscriptions" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "user_email" VARCHAR(255) NOT NULL,
    "plan_id" UUID NOT NULL,
    "status" "app_admin"."SubscriptionStatus" NOT NULL DEFAULT 'trialing',
    "current_period_start" TIMESTAMP(3) NOT NULL,
    "current_period_end" TIMESTAMP(3) NOT NULL,
    "trial_end" TIMESTAMP(3),
    "cancelled_at" TIMESTAMP(3),
    "cancel_reason" TEXT,
    "payment_method" VARCHAR(50),
    "metadata" JSONB DEFAULT '{}',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_admin"."platform_settings" (
    "id" UUID NOT NULL,
    "key" VARCHAR(100) NOT NULL,
    "value" JSONB NOT NULL,
    "category" "app_admin"."SettingCategory" NOT NULL DEFAULT 'general',
    "description" TEXT,
    "is_secret" BOOLEAN NOT NULL DEFAULT false,
    "updated_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "platform_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_admin"."admin_audit_logs" (
    "id" UUID NOT NULL,
    "admin_id" UUID NOT NULL,
    "admin_email" VARCHAR(255) NOT NULL,
    "action" "app_admin"."AuditAction" NOT NULL,
    "target_type" VARCHAR(50),
    "target_id" UUID,
    "previous_values" JSONB,
    "new_values" JSONB,
    "ip_address" VARCHAR(45),
    "user_agent" VARCHAR(500),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_admin"."announcements" (
    "id" UUID NOT NULL,
    "title" VARCHAR(200) NOT NULL,
    "content" TEXT NOT NULL,
    "type" "app_admin"."AnnouncementType" NOT NULL DEFAULT 'info',
    "target_audience" "app_admin"."TargetAudience" NOT NULL DEFAULT 'all',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "start_date" TIMESTAMP(3),
    "end_date" TIMESTAMP(3),
    "is_pinned" BOOLEAN NOT NULL DEFAULT false,
    "dismissible" BOOLEAN NOT NULL DEFAULT true,
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "announcements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_admin"."content_overrides" (
    "id" UUID NOT NULL,
    "content_type" "app_admin"."ContentType" NOT NULL,
    "content_key" VARCHAR(100) NOT NULL,
    "title" VARCHAR(200) NOT NULL,
    "description" TEXT,
    "metadata" JSONB DEFAULT '{}',
    "is_published" BOOLEAN NOT NULL DEFAULT true,
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "content_overrides_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_admin"."support_tickets" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "user_email" VARCHAR(255) NOT NULL,
    "user_name" VARCHAR(100),
    "subject" VARCHAR(300) NOT NULL,
    "description" TEXT NOT NULL,
    "category" "app_admin"."TicketCategory" NOT NULL DEFAULT 'general',
    "status" "app_admin"."TicketStatus" NOT NULL DEFAULT 'open',
    "priority" "app_admin"."TicketPriority" NOT NULL DEFAULT 'medium',
    "assigned_to" UUID,
    "resolution" TEXT,
    "resolved_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "support_tickets_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "app_users"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "auth_users_email_key" ON "app_auth"."auth_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "subscription_plans_slug_key" ON "app_admin"."subscription_plans"("slug");

-- CreateIndex
CREATE INDEX "subscription_plans_tier_idx" ON "app_admin"."subscription_plans"("tier");

-- CreateIndex
CREATE INDEX "subscription_plans_is_active_idx" ON "app_admin"."subscription_plans"("is_active");

-- CreateIndex
CREATE UNIQUE INDEX "platform_features_feature_key_key" ON "app_admin"."platform_features"("feature_key");

-- CreateIndex
CREATE INDEX "user_subscriptions_user_id_idx" ON "app_admin"."user_subscriptions"("user_id");

-- CreateIndex
CREATE INDEX "user_subscriptions_plan_id_idx" ON "app_admin"."user_subscriptions"("plan_id");

-- CreateIndex
CREATE INDEX "user_subscriptions_status_idx" ON "app_admin"."user_subscriptions"("status");

-- CreateIndex
CREATE INDEX "user_subscriptions_current_period_end_idx" ON "app_admin"."user_subscriptions"("current_period_end");

-- CreateIndex
CREATE UNIQUE INDEX "user_subscriptions_user_id_key" ON "app_admin"."user_subscriptions"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "platform_settings_key_key" ON "app_admin"."platform_settings"("key");

-- CreateIndex
CREATE INDEX "platform_settings_category_idx" ON "app_admin"."platform_settings"("category");

-- CreateIndex
CREATE INDEX "admin_audit_logs_admin_id_idx" ON "app_admin"."admin_audit_logs"("admin_id");

-- CreateIndex
CREATE INDEX "admin_audit_logs_action_idx" ON "app_admin"."admin_audit_logs"("action");

-- CreateIndex
CREATE INDEX "admin_audit_logs_target_type_target_id_idx" ON "app_admin"."admin_audit_logs"("target_type", "target_id");

-- CreateIndex
CREATE INDEX "admin_audit_logs_created_at_idx" ON "app_admin"."admin_audit_logs"("created_at");

-- CreateIndex
CREATE INDEX "announcements_is_active_idx" ON "app_admin"."announcements"("is_active");

-- CreateIndex
CREATE INDEX "announcements_start_date_end_date_idx" ON "app_admin"."announcements"("start_date", "end_date");

-- CreateIndex
CREATE INDEX "content_overrides_content_type_idx" ON "app_admin"."content_overrides"("content_type");

-- CreateIndex
CREATE INDEX "content_overrides_is_published_idx" ON "app_admin"."content_overrides"("is_published");

-- CreateIndex
CREATE UNIQUE INDEX "content_overrides_content_type_content_key_key" ON "app_admin"."content_overrides"("content_type", "content_key");

-- CreateIndex
CREATE INDEX "support_tickets_user_id_idx" ON "app_admin"."support_tickets"("user_id");

-- CreateIndex
CREATE INDEX "support_tickets_status_idx" ON "app_admin"."support_tickets"("status");

-- CreateIndex
CREATE INDEX "support_tickets_priority_idx" ON "app_admin"."support_tickets"("priority");

-- CreateIndex
CREATE INDEX "support_tickets_assigned_to_idx" ON "app_admin"."support_tickets"("assigned_to");

-- CreateIndex
CREATE INDEX "support_tickets_created_at_idx" ON "app_admin"."support_tickets"("created_at");

-- AddForeignKey
ALTER TABLE "app_admin"."plan_features" ADD CONSTRAINT "plan_features_plan_id_fkey" FOREIGN KEY ("plan_id") REFERENCES "app_admin"."subscription_plans"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "app_admin"."plan_features" ADD CONSTRAINT "plan_features_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "app_admin"."platform_features"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "app_admin"."user_subscriptions" ADD CONSTRAINT "user_subscriptions_plan_id_fkey" FOREIGN KEY ("plan_id") REFERENCES "app_admin"."subscription_plans"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

